<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
<h1>Bienvenido a PokeMatch</h1>

<form action="/juego" method="get">
  <input type="submit" name="iniciar" value="iniciar"/>
</form>
</body>
</html>
