<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Bienvenido PokeMatch!</h1>

    <table id="tablero">
      <tr>
          <td> </td><td> </td><td> </td><td> </td><td> </td>
      </tr>
      <tr>

      </tr>
      <tr>

      </tr>
      <tr>

      </tr>
      <tr>

      </tr>
    </table>

  </body>
</html>
